<div class="container">
    <div class="col-8 mr-auto">
      <form method="POST" action="/auth/changepass">
        <!-- <div>
          <label>Current Password</label>
          <input name="password" type="password" placeholder="*****" />
        </div> -->
        <div>
            <label>New Password</label>
            <input name="password" type="password" placeholder="*****" />
          </div>
        <button class="btn btn-auth" type="submit">Change Password</button>
      </form>
    </div>
  </div>